body {
  margin: 0;
  padding: 0;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
}

.main,
.main-404 {
  width: calc(100vw - 2rem);
  max-width: 1024px;
  margin: 0 auto;
  font-size: 20px;
}

.main-404 {
  text-align: center;
  font-size: 30px;
}

.icon-404 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-404 > svg {
  max-width: 200px;
}

.title {
  color: green;
  text-align: center;
}

.mana {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mana svg {
  display: block;
  margin: auto;
  color: white;
}
